@import "tailwindcss";

/* Thème clair */
:root {
  --background: #000000;   /* Noir */
  --foreground: #ffffff;   /* Blanc pour bien contraster */
}

/* Thème sombre */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;  /* Toujours noir */
    --foreground: #ffffff;  /* Texte blanc */
  }
}

/* Fond et police globale */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Animation spin lente */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 15s linear infinite;
}
