@import "tailwindcss";

/* Variables globales (facultatif) */
:root {
  --background: #000000;   /* noir */
  --foreground: #ffffff;   /* texte blanc */
}

/* Reset global pour body/html */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Geist Mono', monospace;
}

/* Animation spin lente */
@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 15s linear infinite;
}
